
# Don't commit IPython history
history.sqlite

# Don't commit configs
/*.cfg
local-job-env.json
.aptible.env

# Don't commit logs
*.log

# ignore the local postgres test database
TESTING_DATABASE

# Build / dist / OS cruft / etc.
.cache
__pycache__/
*.class
*.iml
*.ipr
*.iws
*.pyc
*.hprof
*.swp
*~
*#
.#*
.DS_Store
.build.properties
.coverage*
!.coveragerc
.idea
.pants.d
.pants.run
.pants.stats
.pids
.project
.projectile
.settings
.tern-port
.classpath
.factorypath
.python
.pydevproject
.twkeys
/bin/
dot.twkeys
build/
/build-support/*.pex
/build-support/*.venv
/build-support/virtualenv-*
/build-support/virtualenv.dist/
/build-support/phab/
codegen/classes/
dist/
htmlcov/
node_modules/*
out/
arc.sh
pants.pex
target
*.class
*.iml
*.ipr
*.iws
*.pyc
*.hprof
*.swp
target
GPATH
GRTAGS
GSYMS
GTAGS
node_modules/
bundle.js
pre_auth_bundle.js
enrollment_form_bundle.js
bundle.js.map
bundle.min.js
bundle.min.js.map
mission-control.css
call-queue.css
awv.css
awv-edit.css
awv-view.css
public-site.css
bundle.min.css
bundle.min.css.map
specs.js
.grunt/
src/javascript/clover/test/
venv

#Local sublime config
clover.sublime-project
clover.sublime-workspace
.vscode

#Local Emacs config
.dir-locals.el
TAGS

#Local PyEnv config
.python-version

#Images
src/python/clover_web/public_site/static/img/

# editable install of wtforms-parseleyjs
src/wtforms-parsleyjs

#docker
startup.env
